#img_header {
  width: 50%;
  min-width: 200px;
  max-width: 400px;
}

.image-circle-container {
  position: relative;
  width: 300px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
.image1 {
  width: 120px; /* Adjust size as needed */

  /* transform: translate(-50%, -50%); */
  z-index: 5;
}
.image-circle {
  position: absolute;
  width: 60px; /* Adjust size as needed */
  border-radius: 50%;
  animation: orbit 10s linear infinite;
  z-index: 0;
}
@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}
.image-circle:nth-child(2) {
  animation-delay: 0s;
}
.image-circle:nth-child(3) {
  animation-delay: 2s;
}
.image-circle:nth-child(4) {
  animation-delay: 4s;
}
.image-circle:nth-child(5) {
  animation-delay: 6s;
}
.image-circle:nth-child(6) {
  animation-delay: 8s;
}
