* {
  text-wrap: pretty;
}

.site-heading img {
  max-width: 500px;
}

#img_nav {
  width: 200px;
}

.intro-button img {
  width: 30px;
}

.services-button img {
  width: 30px;
}

#services-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 1.25rem;
}

.services {
  position: relative;
}
@media (min-width: 992px) {
  .services .services-img {
    width: 100%;
    float: right;
  }
  .services .services-text {
    left: 0;
    width: 100%;
    margin-top: 3rem;
    position: absolute;
  }
  .services .services-text .services-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -0.5rem;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .services .services-text {
    width: 45%;
  }
}

/* Carousel */
.carousel {
  margin-bottom: 1.5rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.carousel-inner {
  display: flex; /* Use flex for horizontal layout */
  animation: scroll 0s linear infinite;
}

.carousel img {
  width: 250px; /* Adjust as needed */
  height: auto;
  margin: 0 10px; /* Space between images */
  border-radius: 10%;
  border: solid 3px black;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -100%
    ); /* Change to -100% to account for all images */
  }
}

.container {
  position: relative;
}

/* Style for the relative positioning of the images */
.relative-position {
  position: relative;
  max-width: 100%;
}

.img-fluid-intro {
  width: 100%;
  height: auto;
}

.img-fluid-why {
  width: 100%;
  max-height: 350px; /* Restricts the height */
  object-fit: cover; /* Ensures the image maintains aspect ratio without stretching */
}

.why-mascot {
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
  position: absolute;
  bottom: -3.5%; /* Adjust as needed */
  right: 0; /* Adjust as needed */
  width: 20%; /* Adjust size as needed */
  height: auto;
}

@media (max-width: 768px) {
  .why-mascot {
    width: 35%; /* Adjust size for mobile */
  }
}

.why-mascot-overlay {
  position: relative;
  max-width: 100%;
}
