.unique-carousel {
  margin: auto;
  width: 100%; /* Responsive width */
  max-width: 600px; /* Max width for larger screens */
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin-bottom: 25px;
}

.unique-carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.unique-carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.unique-carousel img {
  width: 100%;
  border-radius: 10px;
}

img {
  margin-top: unset;
}

.unique-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.unique-arrow:hover {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.unique-arrow-left {
  left: 10px;
}

.unique-arrow-right {
  right: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  .unique-arrow {
    font-size: 18px; /* Smaller font size for mobile */
    padding: 8px;
  }
}

@media (min-width: 601px) {
  .unique-arrow {
    font-size: 24px; /* Larger font size for desktop */
    padding: 10px;
  }
}
