* {
  font-family: Raleway, Helvetica, sans-serif;
  text-wrap: pretty;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 0px 20px 0px;
}

.container img {
  padding: 15px;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
}
h2 {
  font-size: 18px;
  margin: 10px 0;
}
img {
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  height: auto;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  h1,
  h2 {
    text-align: left;
  }
  img {
    margin-top: 0;
  }
}

.white-block-left {
  position: relative; /* Needed for positioning the pseudo-element */
  padding-left: 30px;
  text-align: left;
  border-left: 12px solid white;
  margin-left: 5px;
}

.white-block-right {
  position: relative; /* Needed for positioning the pseudo-element */
  padding-right: 30px;
  text-align: right;
  border-right: 12px solid white;
  margin-right: 5px;
}

#title {
  font-size: 3vw; /* Use viewport width for responsive scaling */
  letter-spacing: 0.35em;
  font-weight: 600;
  line-height: 0;
}

#subtitle {
  font-size: 6vw; /* Use viewport width for responsiveness */
  margin-top: 25px;
  line-height: 1.2; /* Adjusted for better spacing */
  font-weight: 1000;
}

#description {
  font-size: 7vw; /* Use viewport width for responsiveness */
  line-height: 1;
  margin: auto;
  width: 80%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
}

/* Optional: Media Queries for further adjustments on larger screens */
@media (min-width: 768px) {
  #description {
    margin-top: 15px;
  }
  #title {
    font-size: 1em; /* Use fixed size for larger screens */
  }

  #subtitle {
    font-size: 2em; /* Use fixed size for larger screens */
  }

  #description {
    font-size: 2.5em; /* Use fixed size for larger screens */
  }
}

#two,
#three,
#about {
  border-top: 1px solid #ffffff00;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
